h1.oomidasi1{
  color:white; 
  text-align: center;
  background-color: black
}
h2{
  color:purple;  
  text-align: center;
  background-color: green
}
h3{
  color:yellow;  
  text-align: center;
  background-color: blue
}
h1.oomidasi2{
  color:black;  
  text-align: center;
  background-color: white
}
body{
    background-image: url("../images/haikei2.jpg")
        
}
